// Body
html body {
    display: flex;
    width: 100vw;
    min-height: 100vh;
    align-items: flex-start;
    justify-content: center;
}

// Brand
// Header Logo Lockup
.brand {
    background-color: rgba($blue-light, 0.21);
    color: $white;
    > span {
        display: block;
    }
}