// Body
html body {
    display: flex;
    width: 100vw;
    min-height: 100vh;
    justify-content: center;
    overflow: hidden;
}

// Search Widget
.search-widget {
    position: relative;
    @include transition-property(top);
    @include transition-duration($duration-exit);
    @include transition-easing($easing-decel);
    background-color: $uc-blue;
    // State: Centered
    top: 30vh;
    // State: Pin to top
    &.pinned {
        top: 0;
    }
}

// Brand
// Header Logo Lockup
.brand {
    background-color: rgba($blue-light, 0.21);
    color: $white;
    > span {
        display: block;
    }
}