body {
    position: relative;
    background-image: linear-gradient(30deg, $gold-lighter, $uc-blue);
    background-attachment: fixed;
    &:before,
    &:after {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        display: block;
        width: 200vw;
        height: 200vh;
        background-color: transparent;
        background-repeat: repeat;
        background-size: auto;
        background-position: center center;
        background-attachment: fixed;
        transform: rotate(45deg);
        z-index: 0;
    }
    &:before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='Layer_1' viewBox='0 0 11 1080'%3E%3ClinearGradient id='SVGID_1_' x2='0' y1='1079.959' y2='1079' gradientTransform='matrix%281 0 0 -1080 1.5 1166400%29' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23fff' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23fff'/%3E%3C/linearGradient%3E%3Cpath fill='url%28%23SVGID_1_%29' d='M1 0h1v1080H1z'/%3E%3C/svg%3E");
    }
    &:after {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1066' height='311'%3E%3Cg fill='%23FFF' fill-rule='evenodd'%3E%3Cpath d='M390 0h260v311H390z' opacity='.11'/%3E%3Cpath d='M780 0h260v311H780z' opacity='.42'/%3E%3Cpath d='M0 0h260v311H0z' opacity='.21'/%3E%3C/g%3E%3C/svg%3E%0A");
    } // pull the immediate children up above the background layeringalign-content
    >* {
        position: relative;
        z-index: 1;
    }
}