// Set cursor for button element
button:hover {
	cursor: pointer;
}

// Turn off border colors
.btn {
	&.btn-primary,
	&.btn-default {
		border-color: transparent;
	}
}

// Buttons with icons
.btn {
	display: grid;
	grid-gap: ($spacer / 4);
	grid-template-columns: repeat(2, auto);
	align-items: center;
	justify-content: space-between;
	svg {
		width: 1em;
	}
}
.img-btn {
	padding: 0;
}
p .btn {
	display: inline;
	padding: 0.15em 0.5em;
}
