/* ------------------------------ 
Colors
------------------------------ */

// Purples
$purple-50:     #F3E5F5;
$purple-100:    #E1BEE7;
$purple-200:    #CE93D8;
$purple-300:    #BA68C8;
$purple-400:    #AB47BC;
$purple-500:    #9C27B0;
$purple-600:    #8E24AA;
$purple-700:    #7B1FA2;
$purple-800:    #6A1B9A;
$purple-900:    #4A148C;
$purple-a100:   #EA80FC;
$purple-a200:   #E040FB;
$purple-a400:   #D500F9;
$purple-a700:   #AA00FF;

// Blues
$blue-50: #E3F2FD;
$blue-100: #BBDEFB;
$blue-200: #90CAF9;
$blue-300: #64B5F6;
$blue-400: #42A5F5;
$blue-500: #2196F3;
$blue-600: #1E88E5;
$blue-700: #1976D2;
$blue-800: #1565C0;
$blue-900: #0D47A1;
$blue-a100: #82B1FF;
$blue-a200: #448AFF;
$blue-a400: #2979FF;
$blue-a700: #2962FF;

// Ambers
$amber-50: #FFF8E1;
$amber-100: #FFECB3;
$amber-200: #FFE082;
$amber-300: #FFD54F;
$amber-400: #FFCA28;
$amber-500: #FFC107;
$amber-600: #FFB300;
$amber-700: #FFA000;
$amber-800: #FF8F00;
$amber-900: #FF6F00;
$amber-a100: #FFE57F;
$amber-a200: #FFD740;
$amber-a400: #FFC400;
$amber-a700: #FFAB00;

// Grays
$gray-50: #ECEFF1;
$gray-100: #CFD8DC;
$gray-200: #B0BEC5;
$gray-300: #90A4AE;
$gray-400: #78909C;
$gray-500: #607D8B;
$gray-600: #546E7A;
$gray-700: #455A64;
$gray-800: #37474F;
$gray-900: #263238;

$black:    #000000;
$white:    #FFFFFF;