/* ------------------------------ 
Colors
------------------------------ */

// Primary Colors
$uc-blue:       #1295D8;
$uc-gold:       #FFB511;

// Primary Color Variants
$blue-dark:     #005581;
$blue-light:    #72CDF4;
$gold-light:    #FFD200;
$gold-lighter:  #FFE552;

// Secondary Colors
$orange:        #FF6E1B;
$orange-light:  #FF8F28;
$pink:          #E44C9A;
$pink-light:    #FEB2E0;
$teal:          #00778B;
$teal-light:    #00A3AD;
$uc-gray:       #7C7E7F;
$gray-warm-8:   #8F8884;
$gray-warm-3:   #BEB6AF;
$gray-warm-1:   #DBD5CD;
$gold-metallic: #B4975A;

// Neutrals
$black:         #000000;
$gray-600:      #414042;
$gray-500:      #58585A;
$gray-400:      #A5A5A5;
$gray-300:      #A7A9AC;
$gray-200:      #D1D2D4;
$gray-100:      #F3F3F4;
$white:         #FFFFFF;