footer {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	margin-bottom: $spacer;
	font-size: $font-size-sm;
	color: $uc-gray;
	text-align: center;
	p {
		@extend .mb-0, .mr-1;
	}
}
